# ============================================================
# ATTENDLY ENVIRONMENT
# ============================================================

NODE_ENV=production

# URL publik Attendly
APP_URL=https://attendly-app.my.id

# Zona waktu
TZ=Asia/Jakarta

# ------------------------------------------------------------
# PORT
# ------------------------------------------------------------
# Local development boleh:
#
# PORT=3000
#
# Untuk hosting Node.js/cPanel biasanya JANGAN menentukan PORT.
# Hosting akan memberikan process.env.PORT otomatis.


# ------------------------------------------------------------
# DATABASE
# ------------------------------------------------------------
# Production:
#
# Ganti USERNAME_CPANEL dengan username hosting sebenarnya.
#
DB_FILE=/home/USERNAME_CPANEL/attendly-data/absensi.sqlite